<br>
<button type="button" routerLink="/students/new" class="btn btn-outline-success">Add new student</button>
<br><br>
<div *ngIf="confirmationMsg">
    <div class="alert alert-warning" role="alert" >
        {{confirmationMsg}}
    </div>
    <br>
</div>

<div class="table-responsive" *ngIf="students">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th colspan="2">Action</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let student of students; index as studentId">
        <td>{{ student.firstName | titlecase }}</td>
        <td>{{ student.lastName | titlecase }}</td>
        <td>{{ student.email }}</td>
        <td>{{ student.phone }}</td>
        <td><button type="button" [routerLink]="['/students/edit', student.id]" 
          class="btn btn-outline-primary">Update</button></td>
        <td><button type="button" class="btn btn-outline-danger" 
          (click)="deleteStudent(student._links.student.href, student)">Delete</button></td>
      </tr>
      </tbody>
    </table>
    <div>