<br>
<button type="button" routerLink="/courses/new" class="btn btn-outline-success">Add new course</button>
<br><br>
<div class="table-responsive" *ngIf="courses">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Course Name</th>
        <th>Course Description</th>
        <th>Available</th>
        <th colspan="2">Action</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let course of courses">
        <td>{{ course.name }}</td>
        <td>{{ course.description }}</td>
        <td>{{ course.available }}</td>
        <td><button type="button" class="btn btn-outline-primary">Update</button></td>
        <td><button type="button" class="btn btn-outline-danger"
          (click)="deleteCourse(course._links.course.href, course)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
    <div>