<br>
<h2>Add a new student</h2>
<br>
<form [formGroup]="createStudentForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="firstName">First name</label>
        <input type="text" class="form-control" formControlName="firstName" id="firstName" placeholder="">
    </div>
    <div class="form-group">
        <label for="lastName">Last name</label>
        <input type="text" class="form-control" formControlName="lastName" id="lastName" placeholder="">
    </div>
    <div class="form-group">
        <label for="phone">Phone number</label>
        <input type="text" class="form-control" formControlName="phone" id="phone" placeholder="">
    </div>
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" formControlName="email" id="email" placeholder="name@example.com">
    </div>

    <!--TODO: Il faut que la liste ci-dessous soit charge selon les courses disponibles-->
    <div class="form-group">
        <label for="exampleFormControlSelect2">Course selection (hold Ctrl/Cmd for more than one option)</label>
        <select multiple class="form-control" id="courseSelection">
            <option>Forro</option>
            <option>Salsa</option>
            <option>Samba</option>
            <option>Bachata</option>
            <option>Zouk</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Further remarks</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-outline-success">Confirm</button>
</form>