<br>
<app-create-schedule></app-create-schedule>
<br><br>
<div class="table-responsive" *ngIf="schedules">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Course name</th>
                <th>Level</th>
                <th>Instructor</th>
                <th>Day</th>
                <th>Hour</th>
                <th colspan="2">Action</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let schedule of schedules">
                <td>{{ schedule.course.name }}</td>
                <td>{{ schedule.level }}</td>
                <td>{{ schedule.instructor.firstName }} {{ schedule.instructor.lastName }}</td>
                <td>{{ schedule.day }}</td>
                <td>{{ schedule.hour }}:{{ schedule.minutes }}</td>
                <td><button type="button" 
                        class="btn btn-outline-primary">Update</button></td>
                <td><button type="button" class="btn btn-outline-danger">Delete</button></td>
            </tr>
        </tbody>
    </table>
    <div>